<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TatExpress</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
        <div class="navbar-container">
            <div class="navbar-brand">
                <a id="logo" href="#">TatExpress</a>
            </div>
            <div>
                    <a class="navbar-links" href="#"><img src="https://downloader.disk.yandex.ru/preview/ce0eae957628ac507f17922c77cd46061dae0ba34a728332f51761aae44b5fac/6402350f/mNIuJPj8H_7QSvU-aOLsPSKd9HkeKke1cFvSutJmHm6GanNAThtexhpQ19zLk9jHlN9aMZgSEggBMgnuS5bBrA%3D%3D?uid=0&filename=Document.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1903x930"/>Категории</a>
            </div>
            <div class="navbar-search">
                <form>
                    <input type="text" placeholder="Искать товары" class="search-field">
                    <button type="submit" class="search-btn">Найти</button>
                </form>
            </div>
            <div class="navbar-links">
                    <a href="#" id="menu_punkt"><img src="https://downloader.disk.yandex.ru/preview/87600fc1bcd9b8e86de686baf7e153044a51d56b4930e5b2991b2d97b3592a92/6402350f/UIxbSEf_0h24XlBygD2b8CKd9HkeKke1cFvSutJmHm4sZnA9S3RMiIYm2r7-ZHjQ1jSZXTONY1gGVnDjTs-M7w%3D%3D?uid=0&filename=Profile.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1903x930" /> Войти</a>
                    <a href="#" id="menu_punkt"><img src="https://downloader.disk.yandex.ru/preview/c539bc89dfcdca4ab280d0078ecdc2d7e804645c88257129b18c57fec689e307/6402350f/T3-7_eSI-g6wQID_F3xeryKd9HkeKke1cFvSutJmHm49C7mrSh812uU7qBaaKlKe481kB9hXYf2q-FkE91a7OA%3D%3D?uid=0&filename=Heart.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1903x930" /> Избранное</a>
                    <a href="#" id="menu_punkt"><img src="https://downloader.disk.yandex.ru/preview/e0784a524b7eea23aa807b8439ea22bb8ad5c36c0a50b2d3416a38412136eaab/6402350f/ZR2VtFD_lPX1xIsVAT8cjCKd9HkeKke1cFvSutJmHm4GDQbjBmx31ZPr1jOYosMkN1Nh_TDnhF_Vx_uhDMhkkQ%3D%3D?uid=0&filename=Buy.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1903x930" />Корзина</a>
            </div>
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="telo">
        <div class="podval">
            <div>
                <p>TatExpress в соцсетях</p>
                <p>
                    <img src="https://downloader.disk.yandex.ru/preview/564bf15bea5c548df4871aa73794e69bd569b870cb85fd4bafb7ee25630d69c2/64025f54/5hiL__UHF-Doo5YatbamcbKxoVT7yxImr1AyKpowXQG9K6IxwSNzjEWhdLFzoRu-4bVc8XsRfwgA7TTvd9xUDg%3D%3D?uid=0&filename=image%201.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" />
                    <img src="https://downloader.disk.yandex.ru/preview/5523150c8d2438d1e6649722c4c4a2fc0dea9d87c91de16767fc5c414105511c/64025f54/9PQfmUlLaEA2TKj5VqgXP7KxoVT7yxImr1AyKpowXQHOyFImqANUn9RkXGMTJ_fTtBiQBUZMzP457aABYmaHfA%3D%3D?uid=0&filename=image%202.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" />
                    <img src="https://downloader.disk.yandex.ru/preview/a6e8070a1acdf14c99faa1d87403a4118738b2e5bd68c3282786d6fa0e059b4f/64025f54/rRSM3EUO4kLWPY2jtx5i8rKxoVT7yxImr1AyKpowXQGvhYTC29MKduUuDK9nem8JQxdQuoOgq4z9el9aFfLnUA%3D%3D?uid=0&filename=image%203.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" />
                    <img src="https://downloader.disk.yandex.ru/preview/08ede62deab0458a510648c25f5d3a7672ad30e2b73ca605637632f25af62e2c/64025f54/xfYad-HrofCuNBp7W3Jb9LKxoVT7yxImr1AyKpowXQGV-FbezWG1DOAldCXogcJJAz4W9ndCo-Vg1nxMhw2vcw%3D%3D?uid=0&filename=image%204.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" />
                </p>
                <p>
                    Скачать приложение
                    <br /><img src="https://downloader.disk.yandex.ru/preview/dd57939739798a9ff985b59596fb04a78f192b4a3e1e9e37ae9c77c5123ef361/64025f54/YUHY386ASmPrW2T8aaqsNrKxoVT7yxImr1AyKpowXQHy_RBkcq_-zu8xeRsgLLRIjDAH-TJVTNl5BCvzypKtaw%3D%3D?uid=0&filename=image%205.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="125" />
                    <img src="https://downloader.disk.yandex.ru/preview/2da09dc551915cd38ded5135e872d1e77bbd3b20de4c4dedde86e012e2182244/64025f54/SiVx5C80gFscoEdmJWfvYLKxoVT7yxImr1AyKpowXQFvqn08mkhAo4D1JqndIJeHqExRse10Fh2sc9k0ZmZX-w%3D%3D?uid=0&filename=image%202%20%281%29.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="125" />
                </p>
            </div>
            <div>
                <p><strong>О нас</strong></p>
                <p>О компании</p>
                <p>Вакансии</p>
                <p>СМИ о нас</p>
                <p>Контакты</p>
                <p>Пункты выдачи</p>
            </div>
            <div>
                <p><strong>О нас</strong></p>
                <p>О компании</p>
                <p>Вакансии</p>
                <p>СМИ о нас</p>
                <p>Контакты</p>
                <p>Пункты выдачи</p>
            </div>
            <div>
                <p><strong>О нас</strong></p>
                <p>О компании</p>
                <p>Вакансии</p>
                <p>СМИ о нас</p>
                <p>Контакты</p>
                <p>Пункты выдачи</p>
            </div>
        </div>
    </div>
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TatExpress - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>