<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TatExpress</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
        <div class="navbar-container">
            <div class="navbar-brand">
                <a id="logo" href="#">TatExpress</a>
            </div>
            <div>
                <a class="navbar-links" href="#">Категории</a>
            </div>
            <div class="navbar-search">
                <form>
                    <input type="text" placeholder="Искать товары" class="search-field">
                    <button type="submit" class="search-btn">Найти</button>
                </form>
            </div>
            <div class="navbar-links">
                <a href="#">Войти</a>
                <a href="#">Избранное</a>
                <a href="#"><img src="https://downloader.disk.yandex.ru/preview/e0784a524b7eea23aa807b8439ea22bb8ad5c36c0a50b2d3416a38412136eaab/6402350f/ZR2VtFD_lPX1xIsVAT8cjCKd9HkeKke1cFvSutJmHm4GDQbjBmx31ZPr1jOYosMkN1Nh_TDnhF_Vx_uhDMhkkQ%3D%3D?uid=0&filename=Buy.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1903x930" />Корзина</a>
            </div>
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TatExpress - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>