/*Для Layout*/
html {
  font-size: 14px;
}

@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    justify-content:center;
    margin-bottom: 30px;
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
/*Шапка в Layout*/
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
}

.navbar-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
}

.navbar-brand a {
    margin-right: 20px;
    color: red;
    text-decoration: none;
    border-bottom: none;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}
#categor {
    font-size: 16px;
    color: mediumpurple;
    text-decoration: none;
    border-bottom: none;
}
#korz {
    font-size: 16px;
    color: black;
    text-decoration: none;
    border-bottom: none;
}

#like {
    font-size: 16px;
    color: black;
    text-decoration: none;
    border-bottom: none;
}

#voiti {
    font-size: 16px;
    color: black;
    text-decoration: none;
    border-bottom: none;
}


.navbar-search form {
    display: flex;
    align-items: center;

}

.search-field {
    width:350px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #990000;
}

.navbar-links a {
    margin-right: 20px;
    text-decoration: none;
    border-bottom: none;
    transition: all .2s ease-in-out;     
}
.navbar-links a:hover {
    color: gray;
    transform: scale(1.05);
    margin-right: 20px;
    text-decoration: none;
    border-bottom: none;
}

/*Для Index + немного Layout(podval) + TovarPage(telo/catalog)*/
.telo {
    display: grid;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
/*Популярное в Index*/
.popul{
    font-size:18px;
}
/*Список товаров в Index и TovarPage*/
.catalog {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.podval {
    padding-top: 70px;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*Иконка добавить в корзину для всех товаров*/
.dobavit{
    float:right;
    margin-right:10px;
}

/*Для Index слайдер*/
.slider {
    width: 1100px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    width: calc(1100px * 3);
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .slide img {
        max-width: 100%;
        max-height: 100%;
    }

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

    .controls button {
        background: transparent;
        border: none;
        font-size: 32px;
        color: black;
        cursor: pointer;
        padding: 10px;
        transition: opacity 0.3s ease-in-out;
    }

        .controls button:hover {
            opacity: 0.7;
        }

.prev {
    margin-left: 20px;
}

.next {
    margin-right: 20px;
}

/*Для TovarPage корзина*/
.cart {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

.cart-header {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

    .cart-header h6 {
        color:gray;
        margin: 0;
    }
    .cart-header strong{
        color:red;
    }

.cart-items {
    margin: 5px 0;
}

.item {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

    .item img {
        margin-right: 10px;
    }

.item-details {
    flex-grow: 1;
}

    .item-details h3 {
        margin: 0;
    }

    .item-details p {
        margin: 5px;
    }

.quantity {
    border: 1px solid black;
    width:85px;
    padding:0 5px 0 5px;
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius:5px;
}

    .quantity input {
        width: 30px;
        text-align: center;
        border: none;
        border-radius: 3px;
        margin: 0 5px;
    }

.remove-btn {
    background-color: white;
    border: none;
    color: grey;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
    .remove-btn:hover {
        color: black;
        transform: scale(1.05);
    }

.cart-total {
    display:grid;
    justify-items:center;
    margin: 15px 0 15px 0;
    padding: 10px 30px 10px 30px;
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
.cart-total-up {
    text-align:center;
}
    .cart-total-up h5 {
        font-family: Roboto, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-size-adjust: 100%;
        color: #212121;
        line-height: 1.25rem;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        outline: none;
        font-style: inherit;
        display: inline-block;
    }
.cart-total-down {
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.checkout-btn {
    background-color: #e53935;
    border: none;
    color: #fff;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.cena{
    font-size: 16px;
}
.otovare{
    font-size:14px;
}


.cart-header label {
    font-size: 20px;
}

    /* формируем внешний вид чекбокса в псевдоэлементе before */
    label:before {
        content: "\2714";
        color: #000;
        display: inline-block;
        font: 20px/30px Arial;
        margin-right: 15px;
        position: relative;
        text-align: center;
        text-indent: 0px;
        width: 30px;
        height: 30px;
        background: #FFF;
        border: 1px solid #e3e3e3;
        border-image: initial;
        vertical-align: middle;
    }

.o{
    font: bold 20px Arial;
}

.setim {
    font-size: 24px;
    font-family: Arial;
}
.pohoj {
    font-size: 24px;
    font-family: Arial;
}
.reki{
    margin-top: 100px;
}
.span3 {
    float:left;
}
.span4 {
    float:right;
}
.s4et {
    font: 16px Arial;
    float: right;
}
.dostavleno {
    padding: 3px;
    color: #e53935;
    font: 12px Roboto, sans-serif;
    border-radius: 3px;
    color: #e53935;
    border: 1px solid #e53935;
}