html {
  font-size: 14px;
}

@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    justify-content:center;
    margin-bottom: 30px;
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
}

.navbar-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
}

.navbar-brand a {
    margin-right: 20px;
    color: red;
    text-decoration: none;
    border-bottom: none;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.navbar-search form {
    display: flex;
    align-items: center;

}

.search-field {
    width:350px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #990000;
}

.navbar-links {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-links a {
     margin-right: 20px;
     text-decoration: none;
     border-bottom: none;
}
.telo {
    display: grid;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.popul{
    font-size:18px;
}
.catalog {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.podval {
    padding-top: 70px;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart {
    border: 1px solid #ccc;
    padding: 10px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

    .cart-header h2 {
        margin: 0;
    }

.cart-items {
    margin: 10px 0;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .item img {
        margin-right: 10px;
    }

.item-details {
    flex-grow: 1;
}

    .item-details h3 {
        margin: 0;
    }

    .item-details p {
        margin: 5px 0;
    }

.quantity {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

    .quantity input {
        width: 30px;
        text-align: center;
        border: none;
        border-radius: 3px;
        margin: 0 5px;
    }

.remove-btn {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-top: 1px solid #ccc;
}

.checkout-btn {
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}