@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TatExpress</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="telo">
        <div class="carusel">
            <img src="https://downloader.disk.yandex.ru/preview/4d576ff1344bd7f035ff25a03238899b021a98646873ee91dd2790913c444aec/64025ccd/Ev4Q5j1bBTqD2vGs4ebprnse7TV1rdIT0qY91Z0USe87MD7X7A2PUMPfee5GApe8bne--mJ1gtJ2A1vsmhz2bg%3D%3D?uid=0&filename=Slider.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1903x930" width="1100" />
        </div>
        <div>
            <p class="popul"><strong>Популярное  </strong>  Все˅</p>
        </div>
        <div class="catalog">
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶  
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                  ̶3̶6̶9̶0̶₽̶  
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                  ̶3̶6̶9̶0̶₽̶  
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                  ̶3̶6̶9̶0̶₽̶  
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div class="podval">
                <div>
                    <p>TatExpress в соцсетях</p>
                    <p>
                        <img src="https://downloader.disk.yandex.ru/preview/564bf15bea5c548df4871aa73794e69bd569b870cb85fd4bafb7ee25630d69c2/64025f54/5hiL__UHF-Doo5YatbamcbKxoVT7yxImr1AyKpowXQG9K6IxwSNzjEWhdLFzoRu-4bVc8XsRfwgA7TTvd9xUDg%3D%3D?uid=0&filename=image%201.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" />
                        <img src="https://downloader.disk.yandex.ru/preview/5523150c8d2438d1e6649722c4c4a2fc0dea9d87c91de16767fc5c414105511c/64025f54/9PQfmUlLaEA2TKj5VqgXP7KxoVT7yxImr1AyKpowXQHOyFImqANUn9RkXGMTJ_fTtBiQBUZMzP457aABYmaHfA%3D%3D?uid=0&filename=image%202.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" />
                        <img src="https://downloader.disk.yandex.ru/preview/a6e8070a1acdf14c99faa1d87403a4118738b2e5bd68c3282786d6fa0e059b4f/64025f54/rRSM3EUO4kLWPY2jtx5i8rKxoVT7yxImr1AyKpowXQGvhYTC29MKduUuDK9nem8JQxdQuoOgq4z9el9aFfLnUA%3D%3D?uid=0&filename=image%203.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" />
                        <img src="https://downloader.disk.yandex.ru/preview/08ede62deab0458a510648c25f5d3a7672ad30e2b73ca605637632f25af62e2c/64025f54/xfYad-HrofCuNBp7W3Jb9LKxoVT7yxImr1AyKpowXQGV-FbezWG1DOAldCXogcJJAz4W9ndCo-Vg1nxMhw2vcw%3D%3D?uid=0&filename=image%204.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" />
                    </p>
                    <p>
                        Скачать приложение
                        <br /><img src="https://downloader.disk.yandex.ru/preview/dd57939739798a9ff985b59596fb04a78f192b4a3e1e9e37ae9c77c5123ef361/64025f54/YUHY386ASmPrW2T8aaqsNrKxoVT7yxImr1AyKpowXQHy_RBkcq_-zu8xeRsgLLRIjDAH-TJVTNl5BCvzypKtaw%3D%3D?uid=0&filename=image%205.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="125"/>
                        <img src="https://downloader.disk.yandex.ru/preview/2da09dc551915cd38ded5135e872d1e77bbd3b20de4c4dedde86e012e2182244/64025f54/SiVx5C80gFscoEdmJWfvYLKxoVT7yxImr1AyKpowXQFvqn08mkhAo4D1JqndIJeHqExRse10Fh2sc9k0ZmZX-w%3D%3D?uid=0&filename=image%202%20%281%29.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="125" />
                    </p>
                </div>
                <div>
                    <p><strong>О нас</strong></p>
                    <p>О компании</p>
                    <p>Вакансии</p>
                    <p>СМИ о нас</p>
                    <p>Контакты</p>
                    <p>Пункты выдачи</p>
                </div>
                <div>
                    <p><strong>О нас</strong></p>
                    <p>О компании</p>
                    <p>Вакансии</p>
                    <p>СМИ о нас</p>
                    <p>Контакты</p>
                    <p>Пункты выдачи</p>
                </div>
                <div>
                    <p><strong>О нас</strong></p>
                    <p>О компании</p>
                    <p>Вакансии</p>
                    <p>СМИ о нас</p>
                    <p>Контакты</p>
                    <p>Пункты выдачи</p>
                </div>

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>