@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TatExpress</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="telo">
        <div class="carusel">
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img src="~/img/Slider.png" alt="Slide 1">
                    </div>
                    <div class="slide">
                        <img src="~/img/1678476011702200431.webp" alt="Slide 2" height="400">
                    </div>
                    <div class="slide">
                        <img src="~/img/big_electro_11_3_23.webp" alt="Slide 3" height="400">
                    </div>
                </div>
                <div class="controls">
                    <button class="prev">&lt;</button>
                    <button class="next">&gt;</button>
                </div>
            </div>
        </div>
        <div>
            <p class="popul"><strong>Популярное  </strong>  Все˅</p>
        </div>
        <div class="catalog">
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>  
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>  
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="~/img/Tovar1.png" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    <s>3690₽ </s>
                    <img src="~/img/buy1.png" width="20" height="20" />
                </p>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>