@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TatExpress</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="telo">
        <div class="carusel">
            <img src="https://downloader.disk.yandex.ru/preview/4d576ff1344bd7f035ff25a03238899b021a98646873ee91dd2790913c444aec/64025ccd/Ev4Q5j1bBTqD2vGs4ebprnse7TV1rdIT0qY91Z0USe87MD7X7A2PUMPfee5GApe8bne--mJ1gtJ2A1vsmhz2bg%3D%3D?uid=0&filename=Slider.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1903x930" width="1100" />
        </div>
        <div>
            <p class="popul"><strong>Популярное  </strong>  Все˅</p>
        </div>
        <div class="catalog">
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶  
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                  ̶3̶6̶9̶0̶₽̶  
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                  ̶3̶6̶9̶0̶₽̶  
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                  ̶3̶6̶9̶0̶₽̶  
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
            <div>
                <img src="https://downloader.disk.yandex.ru/preview/a50f175fecf3296c886772e357d85c3b2cd1fc3e23ad5a4fcaafc2dd7a9ec3aa/64025ccd/lo5MtCosGTbj8vIj6IEJeIL2vjSYriqkCSaDjVGkIhA5gkqoDpxp2bBExFW0vYupurO63p_atpeEZR7LFnS3sA%3D%3D?uid=0&filename=Tovar1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="225" height="275" />
                <p>Фитнес браслет MI band 6 NFC</p>
                <p>
                    <strong>3690₽ </strong>
                    ̶3̶6̶9̶0̶₽̶
                    <img src="https://downloader.disk.yandex.ru/preview/75bd25906fb329b649818c1f76fa3085bc5c087e8b5547d9ef4654150e96b0a1/64025ccd/VMENKhqtK7Gk50yZSpqzbtwKN7eFhuTFkcK9WnARu3N8KMNaY6V5yZekjk8uDpyljJ6P5Qp1bGJtl8-XwjsKkQ%3D%3D?uid=0&filename=buy1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1898x892" width="20" height="20" />
                </p>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>