@page
@model WebApplication1.Pages.LikeItModel
@{
    ViewData["Title"] = "Избранное";
}
<p style="text-align:center; color:#ccc; font: 20px Arial; padding:20%;">
    Страница временно недоступна
    <br />Приносим свои извинения за предоставленные неудобства
</p>