@page
@model WebApplication1.Pages.TovarModel
@{
    ViewData["Title"] = "Товар";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1100px;
            margin: 0 auto;
            padding: 20px;
        }

        .product {
            display: flex;
            flex-wrap: wrap;
            /*
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.15);*/
        }

        .product-image {
            padding-top:3px;
            float:left;
        }

        .product-info {
            flex: 1;
        }

        .product-title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .price {
            font-size: 18px;
        }

        .price s{
            padding-left:10px;
            color:#ccc;
        }

        .button1 {
            display: inline-block;
            background-color: #e53935;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 16px;
            margin-top: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: all .2s ease-in-out;
        }

            .button1:hover {
                color:white;
                background-color: #e22222;
                transform: scale(1.05);
            }

        .add-btn {
            background-color: white;
            border: none;
            color: grey;
            border-radius: 3px;
            cursor: pointer;
            transition: all .2s ease-in-out;
        }

            .add-btn:hover {
                color: black;
                transform: scale(1.05);
            }

        .s4et {
            font: 14px Arial;
            float: right;
        }
        .o-tovare{
            padding-top:10px;
            border-top: 1px solid #ccc;
        }

    </style>
</head>
<body>
    <div class="container">
        <h2>Фитнес браслет MI band 6 NFC</h2>
        <div class="product">
            <div class="product-image">
                <p><img src="~/img/Tovar1.png" alt="Это не Фитнес браслет MI band 6 NFC" width="60" height="71"></p>
                <p><img src="~/img/Tovar1.png" alt="Это не Фитнес браслет MI band 6 NFC" width="60" height="71"></p>
                <p><img src="~/img/Tovar1.png" alt="Это не Фитнес браслет MI band 6 NFC" width="60" height="71"></p>
                <p><img src="~/img/Tovar1.png" alt="Это не Фитнес браслет MI band 6 NFC" width="60" height="71"></p>
                <p><img src="~/img/Tovar1.png" alt="Это не Фитнес браслет MI band 6 NFC" width="60" height="71"></p>
            </div>
            <img src="~/img/Tovar1.png" alt="Это не Фитнес браслет MI band 6 NFC" width="300" height="430" style="padding: 0 20px 0 10px;">
            <div class="product-info">
                <div class="s4et">
                    <button class="add-btn" type="button" name="button" id="add-to-like"><img src="~/img/Heart.svg" width="20px" height="20px" />В избранное</button>
                </div>
                <h1 class="product-title">Фитнес браслет MI band 6 NFC</h1>
                <p>
                    Продавец: Aznakaevskiy
                </p>
                <p>
                    Доставка: 1 день, бесплатно
                </p >
                <p class="o-tovare">
                    О товаре:
                    <br /> Версия без NFC Спортивная версия Версия без NFC Спортивная версия 
                    <br /> Версия без NFC Спортивная версия Версия без NFC Спортивная версия 
                    <br /> Версия без NFC Спортивная версия Версия без NFC Спортивная версия 
                </p>
                <h6>Цена:</h6>
                <p class="price"><strong>3690₽</strong>  <s>  3690₽</s></p>
                <h6>Количество:</h6>
                <div class="counter">
                    <button id="decrement">-</button>
                    <div id="count">0</div>
                    <button id="increment">+</button>
                </div>
                <a href="#" class="button1" id="add-to-cart">В корзину</a>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('add-to-cart').addEventListener('click', function (event) {
            event.preventDefault();
            alert('Товар добавлен в корзину!');
        });
        document.getElementById('add-to-like').addEventListener('click', function (event) {
            event.preventDefault();
            alert('Товар добавлен в избранное!');
        });
        const decrementButton = document.getElementById("decrement");
const incrementButton = document.getElementById("increment");
const countElement = document.getElementById("count");

let count = 0;

decrementButton.addEventListener("click", () => {
  if (count > 0) {
    count--;
    countElement.textContent = count;
  }
});

incrementButton.addEventListener("click", () => {
  count++;
  countElement.textContent = count;
});
    </script>
</body>